.page-title {
        color: darkorange
}

.image-title {
        color: mediumblue;
        font-size: 22px;
        font-weight: bold;
}

#sidebar-title {
        color: deeppink
}

#landing-img {
        width: 50%
}

img {
        max-width: 100%
}

.highlighted {
        border: 3px solid limegreen;
}